<?xml version="1.0"?>
<model>
  <name>Puerta Roja Grande</name> <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf> <author>
    <name>Tu Nombre</name> <email>tu@email.com</email> </author>

  <description>
    Un modelo de puerta roja grande para simulaciones de drones.
  </description>
</model>
